.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black !important;
}

.home-content {
  text-align: center;
}

.welcome-message {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.start-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #fca311;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.login-message {
  font-size: 50x;
  text-align: center;
  color:rgb(43, 43, 43);
  font-weight: 400;
}
